<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trellomize - Project Management App</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/3paNdF+N8FkVSm7K4U5xFe5R6oRfrv"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Login to Trellomize</h1>
      {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required /><br /><br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />
        <input type="submit" value="Login" />
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      window.addEventListener("load", addDarkmodeWidget);
      const options = {
        bottom: "64px",
        right: "unset",
        left: "32px",
        time: "0.5s",
        mixColor: "#fff",
        backgroundColor: "#fff",
        buttonColorDark: "#100f2c",
        buttonColorLight: "#fff",
        saveInCookies: true,
        label: "🌓",
        autoMatchOsTheme: true,
      };

      const darkmode = new Darkmode(options);
      darkmode.showWidget();
    </script>
  </body>
</html>
