<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trellomize - Project Management App</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Log In</h4>
                    <form id="login-form" action="/login" method="post">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                      <div class="form-group">
                        <input type="text" name="username" class="form-style" placeholder="Your Username" id="logusername" autocomplete="off">
                        <i class="input-icon uil uil-user"></i>
                      </div>  
                      <div class="form-group mt-2">
                        <input type="password" name="password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <button type="submit" class="btn mt-4">Submit</button>
                      <p id="login-error" class="text-danger mt-3" style="display: none;">Invalid username or password</p>
                    </form>
                    <form id="forgot-password-form" action="/forgot-password" method="post">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                      <button type="submit" class="btn mt-4 btn-link">Forgot your password?</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Sign Up</h4>
                    <form id="signup-form" action="/signup" method="post">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                      <div class="form-group">
                        <input type="text" name="username" class="form-style" placeholder="Your Username" id="regusername" autocomplete="off">
                        <i class="input-icon uil uil-user"></i>
                      </div>  
                      <div class="form-group mt-2">
                        <input type="password" name="password" class="form-style" placeholder="Your Password" id="regpass" autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="email" name="email" class="form-style" placeholder="Your Email" id="regemail" autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>  
                      <button type="submit" class="btn mt-4">Submit</button>
                      <p id="signup-error" class="text-danger mt-3" style="display: none;">Signup failed. Username may already exist.</p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#login-form").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/login",
            data: $(this).serialize(),
            success: function(response) {
                window.location.href = "/main_menu";
            },
            error: function(response) {
                $("#login-error").show();
            }
        });
    });

    $("#signup-form").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/signup",
            data: $(this).serialize(),
            success: function(response) {
                window.location.href = "/main_menu";
            },
            error: function(response) {
                $("#signup-error").show();
            }
        });
    });

    $("#forgot-password-form").on("submit", function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/forgot-password",
            data: $(this).serialize(),
            success: function(response) {
                alert("Password reset instructions have been sent to your email.");
            },
            error: function(response) {
                alert("An error occurred while trying to reset your password. Please try again.");
            }
        });
    });
});
</script>
</body>
</html>
